
<div class="row p-2 border-bottom align-items-center">
  @if (task) {
  <div class="col-5 task-title mb-2" [routerLink]="['task-form/', task.id]">
    {{ task.title }}
  </div>
  <div class="col-2" style="min-width: fit-content;">
    @if (task.completed) {
      <div class="badge badge-success">Completed</div>
    } @else {
      <div class="badge badge-secondary">Not Completed</div>
    }
  </div>
  <div class="col-3 mb-2 text-center">
    {{ task.due_date | date:'dd-MM-yyyy hh:mm' }}
  </div>
  <div class="d-flex justify-content-center mx-3">
      @if (task.completed) {
        <button (click)="toggleTaskItem()" class="btn btn-sm btn-warning"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
      } @else {
        <button (click)="toggleTaskItem()" class="btn btn-sm btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>
      }
      <button (click)="removeTaskItem(task.id)" class="btn btn-sm btn-danger ml-1"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </div>
  }
</div>
