# Python-specific
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd
*.pyo
*.dist-info/

# Ignore virtual environments
env/
venv/
.venv/
ENV/
ENV.bak/
bin/
lib/
lib64/
pyvenv.cfg

.vscode/

sql_app.db