.title {
  background-color: white;
  color: #172b4d;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.to-do-content {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
